PORT=XXXX
FRONTEND_URL=XXXX
DASHBOARD_URL=XXXX
JWT_EXPIRES_IN=XXXX
COOKIE_EXPIRES_IN=XXXX
JWT_SECRET_KEY=XXXX


SMTP_SERVICE=XXXX
SMTP_MAIL=XXXX
SMTP_PASSWORD=XXXX
SMTP_HOST=XXXX
SMTP_PORT=XXXX


GROQ_API_KEY=XXXX


CLOUDINARY_CLIENT_NAME=XXXX
CLOUDINARY_CLIENT_API=XXXX
CLOUDINARY_CLIENT_SECRET=XXXX


STRIPE_SECRET_KEY=XXXX
STRIPE_WEBHOOK_SECRET=XXXX
STRIPE_FRONTEND_KEY=XXXX


DB_USER=XXXX
DB_HOST=XXXX
DB_NAME=XXXX
DB_PASSWORD=XXXX
DB_PORT=XXXX
